name: build-and-test-operator
on: [push]
jobs:
  build-and-test-operator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: engineerd/setup-kind@v0.5.0
      - uses: actions/setup-java@v1
        with:
          java-version: '14'
          java-package: jdk
          architecture: x64
      - run: kubectl apply -f ops/banana-crd.yaml
      - run: chmod +x mvnw; ./mvnw package
      - run: docker build -t banana-operator:latest .
      - run: |
          kubectl apply -f ops/namespace.yaml
          kubectl apply -f ops/deployment.yaml
          sleep 5
      - run: kubectl get deployment -n banana-operator