name: build-and-test-operator
on: [push]
jobs:
  build-and-test-operator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '14'
          java-package: jdk
          architecture: x64
      - run: chmod +x mvnw; ./mvnw package
      - run: docker build -t banana-operator:latest .