name: build-and-test-operator
on: [push]
jobs:
  build-and-test-operator:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: engineerd/setup-kind@v0.5.0
      - uses: actions/setup-java@v1
        with:
          java-version: '14'
          java-package: jdk
          architecture: x64
      - run: kubectl apply -f ops/banana-crd.yaml
      - run: chmod +x ops/scripts/launch-local-registry.sh; ./ops/scripts/launch-local-registry.sh
      - run: chmod +x mvnw
      - run: ./mvnw dependency:resolve
      - run: ./mvnw package
      - run: docker build -t banana-operator:latest .
      - run: docker tag banana-operator:latest localhost:5000/banana-operator:latest
      - run: docker push localhost:5000/banana-operator:latest